.messages-main

  .messages-header
    .header-left
      .group-top
        test
      .member-name
        Member : name
    .header-right
      .edit-bottun
        Edit

  .messages-index
    .messenger
      .m-name
        masa
      .m-time
        2019/11/20(Wed) 17:43:01
    .message
      おはよう!
    .messenger_2
      .m-name_2
        masa
      .m-time_2
        2019/11/20(Wed) 17:43:34
    .message_2
      今日は夜から雨

  .messages-bottom
    .new-message
      .input-box
        %input.input-box_text{:placeholder => "type a message"}
        .input-box_image
          %label{class: "input-box__image"}
            = icon('fas', 'image')
            %input{type: "file"}
      .send
        Send