.side
  .side__header
    .side__header__box
      .side__header__box__name
        masa
      .side__header__box__icon
        %a.far.fa-edit
        %span<>
        %a.fas.fa-cog
  .side__group
    .side__group__name
      techcamp
    .side__group__info
      まだメッセージがありません