.side-bar
  .side-header
    .name-box
      .name
        masa
      .icon-box
        %a.far.fa-edit
        %span<>
        %a.fas.fa-cog
  .group-box
    .group-name
      techcamp
    .group-info
      まだメッセージがありません